.todoapp{
  text-align: center;
  width: 500px;
  margin:0px auto;
  border: 1px solid #EEE;
}
.todolist-complete > p{
  text-decoration: line-through;
  opacity: .3;
}
.TodoList{
  padding: 10px;
  border: 1px solid #bebebe;
  display: flex;

}
.TodoList > p{
  margin: 0;
  margin-left: 20px;
  
}
.TodoList:last-child {
  border-bottom: none;
}